body {
    margin: 0;
}

.container-1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 64px;

}

.c1-header {
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 36px;
}

.links {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.c1-content {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-content: center;
    
}

.c1-main-content {
    
    margin: 16px;
    width: 300px;
}

.main-text {
    font-weight: extra-bold;
    color: #f9faf8;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

.c1-subtext {
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    filter: contrast(35%);
}

.c1-button {
    margin-top: 24px;
    border-radius: 8px;
    width: 128px;
    height: 36px;
    border: 0;
    background-color: #0090D8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img {
    background: gray;
    align-self: center;
    height: 128px;
}

/*------------------------------------------------------------------------------------------------------*/
.container-2 {
    text-align: center;
    margin: 64px;
    font-family: Arial, Helvetica, sans-serif;
}

.c2-header {
    font-weight:900;
    font-size: 36px;
    color: #1f2937;
}

.c2-content {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 64px;
    
}

.card {
    width: 264px;
}

.c2-subtext {
    display: flex;
    justify-content: center;
}

/*------------------------------------------------------------------------------------------------------*/

.container-3 {
    background: #e5e7eb;
    font-weight: 100;
}

.c3-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    padding: 64px;
}

.quote {
    display: flex;
    width: 912px;
    height: 128px;
    font: italic 100 36px sans-serif;
    font-family:'Times New Roman', Times, serif;
    
}

.author {
    display: flex;
    width: 960px;;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}



/*------------------------------------------------------------------------------------------------------*/

.container-4 {

}